<h1>Tabla</h1>
<table class="table">
    <thead>
        <tr>
            <th>Deporte</th>
            <th>Deportista</th>
            <th>Trofeos</th>
            <th>Informacion</th>
            <th>Foto</th>
            <th>Eliminar</th>
            <th>Editar</th>
        </tr>
    </thead>
    <tbody id="tabla">
        <tr *ngFor="let deportista of deportistas">
            <td>{{deportista.deporte }}</td>
            <td>{{deportista.nombre | uppercase}}</td> 
            <td><span *ngIf="deportista.trofeo==0">No tiene: </span>{{deportista.trofeo}}</td>
            <td>{{deportista.informacion}}</td>
            <td><img [src]="deportista.foto" [alt]="deportista.nombre"></td>
            <td><button type="button" class="btn btn-outline-danger">Eliminar</button></td>
            <td><button type="button" class="btn btn-outline-warning">Editar</button></td>
        </tr>
    </tbody>
</table>