<article>
    <section>
        <div class="deporte">
            <figure>
                <img src="assets/images/automovilismo.jpg" alt="Auto de carreras">
            </figure>
            <h3>Automovilismo</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum expedita cupiditate natus modi eius
                impedit, laudantium incidunt quas enim sed voluptates nostrum accusamus dolor explicabo sapiente
                labore
                itaque accusantium doloremque!
            </p>
        </div>
    </section>
    <section>
        <div class="deporte">
            <div>
                <figure>
                    <img src="assets/images/basquet.jpg" alt="Pelota de basquet entrando al aro">
                </figure>
                <h3>Basquet</h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus eligendi possimus ipsum at veniam
                cumque
                quaerat, voluptates natus deleniti error sint, beatae ea amet rerum ullam hic doloremque aliquam
                dolorem!
            </p>
        </div>
    </section>
    <section>
        <div class="deporte">
            <div>
                <figure>
                    <img src="assets/images/boxeo.jpg" alt="Deportista preparandose para pelear">
                </figure>
                <h3>Boxeo</h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus eligendi possimus ipsum at veniam
                cumque
                quaerat, voluptates natus deleniti error sint, beatae ea amet rerum ullam hic doloremque aliquam
                dolorem!
            </p>
        </div>
    </section>
    <section>
        <div class="deporte">
            <div>
                <figure>
                    <img src="assets/images/football.jpg" alt="Pelota de futbol">
                </figure>
                <h3>Futbol</h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus eligendi possimus ipsum at veniam
                cumque
                quaerat, voluptates natus deleniti error sint, beatae ea amet rerum ullam hic doloremque aliquam
                dolorem!
            </p>
        </div>
    </section>
    <section>
        <div class="deporte">
            <div>
                <figure>
                    <img src="assets/images/golf.jpg" alt="Deportista golpeando la bola de golf">
                </figure>
                <h3>Golf</h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus eligendi possimus ipsum at veniam
                cumque
                quaerat, voluptates natus deleniti error sint, beatae ea amet rerum ullam hic doloremque aliquam
                dolorem!
            </p>
        </div>
    </section>
    <section>
        <div class="deporte">
            <div>
                <figure>
                    <img src="assets/images/hockey.jpg" alt="Deportista argentina golpeando la bocha">
                </figure>
                <h3>Hockey</h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus eligendi possimus ipsum at veniam
                cumque
                quaerat, voluptates natus deleniti error sint, beatae ea amet rerum ullam hic doloremque aliquam
                dolorem!
            </p>
        </div>
    </section>
    <section>
        <div class="deporte">
            <div>
                <figure>
                    <img src="assets/images/polo.jpg" alt="2 jugadores de polo en caballos corriendo a la par">
                </figure>
                <h3>Polo</h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus eligendi possimus ipsum at veniam
                cumque
                quaerat, voluptates natus deleniti error sint, beatae ea amet rerum ullam hic doloremque aliquam
                dolorem!
            </p>
        </div>
    </section>
    <section>
        <div class="deporte">
            <div>
                <figure>
                    <img src="assets/images/rugby.jpg" alt="Jugadores de rugby en un scrum">
                </figure>
                <h3> Rugby</h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus eligendi possimus ipsum at veniam
                cumque
                quaerat, voluptates natus deleniti error sint, beatae ea amet rerum ullam hic doloremque aliquam
                dolorem!
            </p>
        </div>
    </section>
    <section>
        <div class="deporte">
            <div>
                <figure>
                    <img src="assets/images/tenis.jpg" alt="Derpotsita de tenis preparando el saque">
                </figure>
                <h3> Tenis</h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus eligendi possimus ipsum at veniam
                cumque
                quaerat, voluptates natus deleniti error sint, beatae ea amet rerum ullam hic doloremque aliquam
                dolorem!</p>
        </div>
    </section>
    <section>
        <div class="deporte">
            <div>
                <figure>
                    <img src="assets/images/voley.jpg" alt="Deportista de voley rematando">
                </figure>
                <h3> Voley</h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus eligendi possimus ipsum at veniam
                cumque
                quaerat, voluptates natus deleniti error sint, beatae ea amet rerum ullam hic doloremque aliquam
                dolorem!
            </p>
        </div>
    </section>
  </article>
  